.header__title {
  text-align: center;
  font-weight: 700;
  font-size: 2em;
  text-shadow: 1px 1px 0px #FFB650, 
    2px 2px 0px #FFD662, 
    3px 3px 0px  #FF80BF, 
    4px 4px 0px #EF5097, 
    5px 5px 0px #6868AC, 
    6px 6px 0px #90B1E0;
  color: var(--active-text-color)
}
