.meme__image {
  transition: all 600ms;
}
.meme__wrapImg {
  transition: all 600ms;
}
.meme__title {
  transition: all 600ms;
}
.meme__rc:checked ~ .meme__image {
  width: 600px;
}
.meme__rc:checked ~ .meme__title .meme__wrapImg {
  transform: rotate(0deg);
}

.meme:hover .meme__image {
  width: 600px;
}
.meme:hover .meme__wrapImg {
  transform: rotate(0deg);
  filter: invert(100%) sepia(34%) saturate(2430%) hue-rotate(174deg)
    brightness(104%) contrast(107%);
}

.meme:hover .meme__title {
  color: azure;
}
