.meme__image {
  transition: all 600ms;
}
.meme__wrapImg {
  transition: all 600ms;
}
.meme__title {
  transition: all 600ms;
}
.meme__rc:checked ~ .meme__image {
  width: var(--image-width);
}
.meme__rc:checked ~ .meme__title {
  color: var(--text-color);
}
.meme__rc:checked ~ .meme__title .meme__wrapImg {
  transform: rotate(0deg);
  filter: var(--basic-icons-filter);
}
.meme__rc:checked ~ .meme__title {
  margin-bottom: 1em;
}

@media (hover: hover) {
  .meme .meme__wrapImg {
    filter: var(--basic-icons-filter);
  }
  .meme:hover .meme__image {
    width: var(--image-width);
  }
  .meme:hover .meme__wrapImg {
    transform: rotate(0deg);
    filter: var(--active-icons-filter);
  }
  .meme__rc:checked ~ .meme__title {
    color: var(--text-color);
  }
  .memes__wrapper:hover .meme__title {
    color: var(--text-color);
  }
  .meme:hover .meme__title {
    color: var(--active-text-color);
    margin-bottom: 1em;
  }
  .meme__rc:checked ~ .meme__title .meme__wrapImg {
    filter: var(--active-icons-filter);
  }
  .meme__wrapImg {
    opacity: 0;
  }
  .memes__wrapper:hover .meme__wrapImg {
    opacity: 1;
  }
}
