@import './reset.css';
@import './variables.css';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap');
@import './components/header.css';
@import './components/meme/main.css';
@import './components/footer.css';

* {
  font-family: 'Inter', sans-serif;
}

body {
  background: var(--bg-color);
  background: var(--bg-gr-color);
  color:var(--text-color);
}

.container {
  width: 1200px;
  margin: 20px auto;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  width: 100%;
}