@import "./reset.css";
@import "./variables.css";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap");
@import "./components/header.css";
@import "./components/meme/main.css";
@import "./components/footer.css";

* {
  font-family: "Inter", sans-serif;
  -webkit-tap-highlight-color: transparent;
}

html {
  font-size: large;
}

body {
  background: var(--bg-color);
  background: var(--bg-gr-color);
  color: var(--text-color);
}

.container {
  width: 60%;
  margin: 1em auto;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  width: 100%;
}
@media (max-width: 1440px) {
  .container {
    width: 80%;
  }
}
@media (max-width:1280px) {
  html {
    font-size: medium;
  }
}
@media (max-width: 900px) {
  .container {
    width: 100%;
  }
  
}
@media (max-width: 420px) {
  html {
    font-size: small;
  }
}
