:root {
  --text-color: rgba(50, 50, 50, 0.9);
  --active-text-color: azure;
  --active-icons-filter: invert(100%) sepia(34%) saturate(2430%)
    hue-rotate(174deg) brightness(104%) contrast(107%);
  --bg-color: rgb(0, 255, 243);
  --bg-gr-color: radial-gradient(
    circle,
    rgba(0, 255, 243, 0.47) 14%,
    rgba(162, 134, 255, 0.52) 76%,
    rgba(229, 195, 255, 0.49) 97%
  );
  --image-width: 65%;
}

@media (max-width: 1280px) {
  :root {
    --image-width: 95%;
  }
}
